In [ ]:
#importing numpy library
import numpy as np

In [ ]:
#Reading the csv file
data="/content/drive/MyDrive/KAG_Conversion_Data.csv"
d2=np.genfromtxt(data, delimiter=",", encoding=None, skip_header=1, dtype=str)
d2e=np.genfromtxt(data, delimiter=",",dtype=float,skip_header=1)
print("DATA: \n",d2)

DATA:
 [['708746' '916' '103916' ... '1.429999948' '2' '1']
 ['708749' '916' '103917' ... '1.820000023' '2' '0']
 ['708771' '916' '103920' ... '0' '1' '0']
 ...
 ['1314412' '1178' '179979' ... '40.28999949' '2' '0']
 ['1314414' '1178' '179981' ... '198.7100005' '8' '2']
 ['1314415' '1178' '179982' ... '165.6099987' '5' '2']]

In [ ]:
#Storing the number of unique ad campaigns in unique_cids variable
unique_cids=np.unique(d2[ : ,1])

In [ ]:
unique_cids

array(['1178', '916', '936'], dtype='<U11')

In [ ]:
len(unique_cids)

3

So we have 3 unique ad campaign ids: 1178,916,936

In [ ]:
#Number of times the campaign with id 916 was run
len(d2[d2[ : ,1 ]=="916"])

54

In [ ]:
#Number of times the campaign with id 936 was run
len(d2[d2[ : ,1 ]=="936"])

464

In [ ]:
#Number of times the campaign with id 1178 was run
len(d2[d2[ : ,1 ]=="1178"])

625

In [ ]:
#The age groups that were targeted through ad campaigns
age_groups=d2[ : ,3]
age_groups

array(['30-34', '30-34', '30-34', ..., '45-49', '45-49', '45-49'],
      dtype='<U11')

In [ ]:
#Storing the amount spent on ads in ads_amount variable
ads_amount=d2e[ : ,8]
ads_amount

array([  1.42999995,   1.82000002,   0.        , ...,  40.28999949,
       198.7100005 , 165.6099987 ])

In [ ]:
#Minimum amount spent on ads
np.min(ads_amount)

0.0

In [ ]:
#Average amount spent on ads
int(np.mean(ads_amount))

51

In [ ]:
#Maximum amount spent on ads
int(np.max(ads_amount))

639

In [ ]:
#Finding the max number of clicks on an ad 
max_clicks=int(np.max(d2e[: ,7 ]))
max_clicks

421

In [ ]:
#Finding the Id of the ad with max number of clicks (=421)
int(d2e[ : ,0][d2e[ : ,7]==421])

1121814

In [ ]:
#Finding the number of people who bought the product after
#watching the ad with max clicks
int(d2e[ : ,10][d2e[ : ,7]==421])

13

In [ ]:
#Finding the number of maximum people who bought the product
#watching an ad
max_purchases=np.max(d2e[ : ,10])
max_purchases

21.0

So, the ad for which the purchases are maximum is not the one with maximum clicks

In [ ]:
#Details of the ad with max number of purchases
d2[d2[ : ,10]=="21"]

array([['1121104', '1178', '144533', '30-34', 'M', '16', '2080666',
        '202', '360.1500015', '40', '21']], dtype='<U11')